<!-- <h1 class="customersTitle" id="topPage">Customers</h1> -->
<div class="row listsContainer">
    <div class="col-md-12 bookmark">
        <div class="search">
            <input type="text" class="form-control" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder="&#61442;  Search by name, telephone, email or even age!">
        </div>
        <ul id="bookmark">
            <li *ngFor="let letter of alphabet">
                <button class="btn btn-default">
                    <a href="#{{letter}}">
                        {{letter}}
                    </a>
                </button>
            </li>
        </ul>
    </div>
    
    <div class="col-md-12 contactList">
        <ul class="contactsContainer" *ngIf="customerList != null"> 
            <!-- se la lista non è rimasta vuota, quindi la promise non è fallita -->
            <li *ngFor="let customer of customerList | filter:searchText, let i = index" class="row contactsCell">
                <div *ngIf="this.checkChangedLetter(customer.name)" class="letterBookMarkContainer">
                    <hr class="letterSeparator">
                    <p id="{{this.currentLetter}}" class="letterBookMark">
                        <b>{{this.currentLetter}}</b>
                    </p>
                </div>
                <!-- da spostare il contact separator, fare in modo che ci sia solo come ngtemplate dell'else -->
                <div class="contacts">
                    <div class="col-md-2 circleIconContainer">
                        <span class="circleIcon">
                            <span>{{this.initials(customer.name)}}</span>
                        </span>
                    </div>
                    <div class="col-md-10 contactName">
                        <a [routerLink]="'customer/' + customer.id">
                            {{customer.name}}
                        </a>
                    </div>
                </div>
                <hr class="contactSeparator">
                <!-- creiamo un link aggiungendo al nostro url di base un numero che sarebbe l'id -->
            </li>
        </ul>
    </div>
    
    
</div>

