@import "~font-awesome/css/font-awesome.css";
a:hover {
    text-decoration: none;
}
li, li .letterBookMarkContainer {
   list-style-type: none;
   display: block;
}
hr{
    margin: 0px;
}
.customersTitle{
    padding: 0 10px;
    font-size: 1.5em;
    margin-top: 5px;
}
#bookmark {
    margin: auto;
    display: table;
    padding: 0px 0px 0px 5px;
}
#bookmark li {
    display: inline;
    /* padding: 10px; */
}
#bookmark li a {
    font-size: 15px;
    font-family: 'Courier New', Courier, monospace;
}
.bookmark{
    border-radius: 10px;
    /* margin: 0 10px; */
    z-index: 9999;
    padding: 0px;
    background-color: rgb(245,245,245);
    position: fixed;
}
.row{
    margin: 0;
}
.letterBookMark {
    margin-block-end: 0.2em;
}
.circleIcon {
    border-radius: 50%;
    background-color: cornflowerblue;
    padding: 10px;
    font-size: 12px;
    color: white;
    font-family: 'Courier New', Courier, monospace;
}
.circleIconContainer{
    padding-left: 0px;
}
.circleIconContainer, .contactName{
    display: inline;
}
.contactName{
    font-size: 12px;
}
.contacts{
    padding: 10px 5px 10px 15px;
    margin: 5px;
}
.listsContainer{
    margin-left: 0;
}
.contactsContainer{
    padding: 20px 10px;
    /* display: table; */
}
.contactSeparator{
    width: 50%;
    margin: auto;
}
.letterSeparator{
    border: 2px solid rgb(248,248,248);
}
.btn{
    padding: 5px;
}
.contactList{
    margin-top: 64px;
    padding: 0px;
}
.form-control::placeholder  {
    font-family: FontAwesome;
}
@media screen and (max-width: 359px){ 
    #bookmark li a {
        font-size: 15px;
        font-family: 'Courier New', Courier, monospace;
    }
    .contactList {
        margin-top: 60px;
    }
    .btn {
        padding: 6px;
    }
}

/* 
Mobile 360
*/
@media screen and (min-width: 360px){
    #bookmark li a{
        font-size: 15px;
        font-family: 'Courier New', Courier, monospace;
    }
    /* .bookmark{
        padding: 5px 0;
    } */
    .btn {
        padding:6px 8px;
    }
    .letterBookMark{
        font-size: 12px;
        padding: 4px;
    }
    .contacts{
        margin: 10px;
    }
    .circleIconContainer{
        padding-left: 20px;
        margin-right: 37.5px;
    }
    .circleIcon{
        padding:13 px;
        font-size: 11 px;
    }
    .contactName{
        padding-left: 1.88vw;
        font-size: 13px;
    }
    .contactsContainer{
        padding: 7px 10.5px;
    }
}
/* 
Mobile 375
*/
@media screen and (min-width: 375px){
    #bookmark {
        padding: 0px 0px 0px 11px;
    }
    /* .bookmark{
        padding: 5px 0;
    } */
    .btn {
        padding:6px 8px;
    }
    .letterBookMark{
        font-size: 12px;
        padding: 4px;
    }
    .contacts{
        margin: 10px;
    }
    .circleIconContainer{
        padding-left: 21px;
        margin-right: 39px;
    }
    .circleIcon{
        padding:13.5px;
        font-size: 11.5px;
    }
    .contactName{
        padding-left: 1.95vw;
        font-size: 14px;
    }
    .contactsContainer{
        padding: 7.3px 11px;
    }
}
/* 
Mobile 412
*/
@media screen and (min-width: 412px){
    #bookmark {
        padding: 0px 0px 0px 12px;
    }
    /* .bookmark{
        padding: 5px 0;
    } */
    .btn {
        padding:6px 9.3px;
    }
    .letterBookMark{
        font-size: 13px;
        padding: 4px;
    }
    .contactList{
        margin-top: 85px;
    }
    .contacts{
        margin: 11px;
    }
    .circleIconContainer{
        padding-left: 24px;
        margin-right: 43px;
    }
    .circleIcon{
        padding:14px;
        font-size: 12px;
    }
    .contactName{
        padding-left: 2.15vw;
        font-size: 15px;
    }
    .contactsContainer{
        padding: 8px 12px;
    }
}
@media screen and (max-width: 599px){
    .contactList{
        margin-top: 110px;
    }
}
/* 
Tablet 600
*/
@media screen and (min-width: 600px){
    /* .bookmark{
        padding: 8px 0;
    } */
    .btn {
        padding:9px 5px;
    }
    .letterBookMark{
        font-size: 19px;
        padding: 6px;
    }
    .contactList{
        margin-top: 70px;
    }
    .contacts{
        margin: 16px;
    }
    .circleIconContainer{
        padding-left: 34px;
        margin-right: 63px;
    }
    .circleIcon{
        padding:15px;
        font-size: 13px;
    }
    .contactName{
        padding-left: 3.1vw;
        font-size: 22px;
    }
    .contactsContainer{
        padding: 12px 18px;
    }
}
/* 
Tablet 720
*/
@media screen and (min-width: 720px){
    #bookmark li a{
        font-size: 16px;
    }
    .btn {
        padding:11px 7px;
    }
    .letterBookMark{
        font-size: 23px;
        padding: 8px;
    }
    .contacts{
        margin: 19px;
    }
    .circleIconContainer{
        padding-left: 41px;
        margin-right: 75px;
    }
    .circleIcon{
        padding:18px;
        font-size: 15px;
    }
    .contactName{
        padding-left: 3.75vw;
        font-size: 26px;
    }
    .contactsContainer{
        padding: 14px 21px;
    }
}
/* 
Tablet 768
*/
@media screen and (min-width: 768px){
    #bookmark li a{
        font-size: 17px;
    }
    /* .bookmark{
        padding: 10px 0;
    } */
    .btn {
        padding:12px 7px;
    }
    .letterBookMark{
        font-size: 24px;
        padding: 8px;
    }
    .contacts{
        margin: 20px;
    }
    .circleIconContainer{
        padding-left: 44px;
        margin-right: 80px;
    }
    .circleIcon{
        padding:18.5px;
        font-size: 16px;
    }
    .contactName{
        padding-left: 4vw;
        font-size: 28px;
    }
    .contactsContainer{
        padding: 15px 22px;
    }
}
/* 
Tablet 800
*/
@media screen and (min-width: 800px){
    #bookmark li a{
        font-size: 18px;
    }
    /* .bookmark{
        padding: 10px 0;
    } */
    .btn {
        padding:13px 8px;
    }
    .letterBookMark{
        font-size: 25px;
        padding: 8px;
    }
    .contacts{
        margin: 21px;
    }
    .circleIconContainer{
        padding-left: 46px;
        margin-right: 83px;
    }
    .circleIcon{
        padding:19px;
        font-size: 17px;
    }
    .contactName{
        padding-left: 4.2vw;
        font-size: 29px;
    }
    .contactsContainer{
        padding: 15px 23px;
    }
}
/* 
Tablet 834
*/
@media screen and (min-width: 834px){
    #bookmark li a{
        font-size: 18px;
    }
    /* .bookmark{
        padding: 11px 0;
    } */
    .btn {
        padding:13px 9px;
    }
    .letterBookMark{
        font-size: 26px;
        padding: 9px;
    }
    .contacts{
        margin: 22px;
    }
    .circleIconContainer{
        padding-left: 48px;
        margin-right: 87px;
    }
    .circleIcon{
        padding:20px;
        font-size: 17px;
    }
    .contactName{
        padding-left: 4.3vw;
        font-size: 30px;
    }
    .contactsContainer{
        padding: 16px 24px;
    }
}
/* 
Desktop/tablet 962
*/
@media screen and (min-width: 962px){
    #bookmark li a{
        font-size: 21px;
    }
    /* .bookmark{
        padding: 13px 0;
    } */
    .btn {
        padding:15px 9.5px;
    }
    .letterBookMark{
        font-size: 30px;
        padding: 10px;
    }
    .contactList{
        margin-top: 75px;
    }
    .contacts{
        margin: 25px;
    }
    .circleIconContainer{
        padding-left: 55px;
        margin-right: 100px;
    }
    .circleIcon{
        padding:23px;
        font-size: 20px;
    }
    .contactName{
        padding-left: 5vw;
        font-size: 35px;
    }
    .contactsContainer{
        padding: 20px 30px;
    }
}
/* 
Desktop/tablet 1024
*/
@media screen and (min-width: 1024px){
    #bookmark li a{
        font-size: 24px;
    }
    /* .bookmark{
        padding: 13px 0;
    } */
    .btn {
        padding:16px 11px;
    }
    .letterBookMark{
        font-size: 32px;
        padding: 11px;
    }
    .contactList{
        margin-top: 80px;
    }
    .contacts{
        margin: 27px;
    }
    .circleIconContainer{
        padding-left: 59px;
        margin-right: 107px;
    }
    .circleIcon{
        padding:24px;
        font-size: 21px;
    }
    .contactName{
        padding-left: 5.3vw;
        font-size: 37px;
    }
    .contactsContainer{
        padding: 20px 30px;
    }
}
/* 
Desktop/tablet 1280
*/
@media screen and (min-width: 1280px){
    #bookmark li a {
        font-size: 28px;
    }
    /* .bookmark{
        padding: 16px 0;
    } */
    .btn {
        padding:19px 14px;
    }
    .letterBookMark{
        font-size: 39px;
        padding: 13px;
    }
    .contactList{
        margin-top: 100px;
    }
    .contacts{
        margin: 33px;
    }
    .circleIconContainer{
        padding-left: 73px;
        margin-right: 133px;
    }
    .circleIcon{
        padding:30px;
        font-size: 26px;
    }
    .contactName{
        padding-left: 7vw;
        font-size: 46px;
    }
}
/* 
Desktop 1366
*/
@media screen and (min-width: 1366px){
    #bookmark li a {
        font-size: 30px;
    }
    .letterBookMark{
        font-size: 42px;
        padding: 14px;
    }
    .contactList{
        margin-top: 105px;
    }
    .contacts{
        margin: 35px;
    }
    .circleIconContainer{
        padding-left: 78px;
        margin-right: 142px;
    }
    .circleIcon{
        padding:32px;
        font-size: 28px;
    }
    .contactName{
        padding-left: 7.1vw;
        font-size: 49px;
    }
}
/* 
Desktop 1440
*/
@media screen and (min-width: 1440px){
    #bookmark li a{
        font-size: 32px;
    }
    /* .bookmark{
        padding: 18px 0;
    } */
    .btn {
        padding:22px 16px;
    }
    .letterBookMark{
        font-size: 45px;
        padding: 15px;
    }
    .contactList{
        margin-top: 118px;
    }
    .contacts{
        margin: 37px;
    }
    .circleIconContainer{
        padding-left: 82px;
        margin-right: 150px;
    }
    .circleIcon{
        padding:34px;
        font-size: 30px;
    }
    .contactName{
        padding-left: 7.5vw;
        font-size: 52px;
    }
}
/* 
Desktop 1536
*/
@media screen and (min-width: 1536px){
    #bookmark li a{
        font-size: 34px;
    }
    /* .bookmark{
        padding: 20px 0;
    } */
    .btn {
        padding:24px 18px;
    }
    .letterBookMark{
        font-size: 48px;
        padding: 16px;
    }
    .contactList{
        margin-top: 130px;
    }
    .contacts{
        margin: 40px;
    }
    .circleIconContainer{
        padding-left: 88px;
        margin-right: 160px;
    }
    .circleIcon{
        padding:36px;
        font-size: 32px;
    }
    .contactName{
        padding-left: 8vw;
        font-size: 56px;
    }
}
/* 
Desktop full screen
*/
@media screen and (min-width: 1920px){
    #bookmark li a{
        font-size: 42px;
    }
    /* .bookmark{
        padding: 25px 0;
    } */
    .btn {
        padding:30px 22px;
    }
    .letterBookMark{
        font-size: 60px;
        padding: 20px;
    }
    .contactList{
        margin-top: 170px;
    }
    .contacts{
        margin: 50px;
    }
    .circleIconContainer{
        padding-left: 110px;
        margin-right: 200px;
    }
    .circleIcon{
        padding:45px;
        font-size: 40px;
    }
    .contactName{
        padding-left: 10vw;
        font-size: 70px;
    }
}