<div class="row main-row">
    <div class="col-md-12 customerDetails">
        <!-- se c'è effettivamente un customer -->
        <div class="row customerDetail">
            <div class="col-lg-2 centerIcon">
                <i class="fa fa-home"></i>
            </div>
            <div class="col-lg-4">
                <div class="col-lg-2 align-left">
                    City:
                </div>
            </div>
            <div class="col-lg-5">
                <div class="col-lg-2 align-left">
                    <p>
                        <a href="https://www.google.it/maps/place/{{customer.city}}">
                            {{customer.city}}
                        </a>
                    </p>
                </div>
            </div>
        </div>
        <div class="row customerDetail">
            <div class="col-lg-2 centerIcon">
                <i class="fa fa-envelope"></i>
            </div>
            <div class="col-lg-4">
                <div class="col-lg-2 align-left">
                    Email:
                </div>
            </div>
            <div class="col-lg-5">
                <div class="col-lg-2 align-left email">
                    {{customer.email}}
                </div>
            </div>
        </div>
        <div class="row customerDetail">
            <div class="col-lg-2 centerIcon">
                <i class="fa fa-mobile"></i>
            </div>
            <div class="col-lg-4">
                <div class="col-lg-2 align-left">
                    Phone:
                </div>
            </div>
            <div class="col-lg-5">
                <div class="col-lg-2 align-left">
                    {{customer.phone}}
                </div>
            </div>
        </div>
        <div class="row customerDetail">
            <div class="col-lg-2 centerIcon">
                <i class="fa fa-birthday-cake"></i>
            </div>
            <div class="col-lg-4">
                <div class="col-lg-2 align-left">
                    Age:
                </div>
            </div>
            <div class="col-lg-5">
                <div class="col-lg-2 align-left">
                    {{customer.age}}
                </div>
            </div>
        </div>
    </div>
</div>

