@import "~font-awesome/css/font-awesome.css";
a {
    color: cornflowerblue;
}
a:hover{
    text-decoration: none;
}
.fa {
    color: 	rgb(176,176,176);
}
.centerIcon {
    display: flex;
    justify-content: center;
    align-items: center;
}
.row, .col-md-12 {
    padding: 0px;
    margin: 0px;
}
.customerDetails{
    border-radius: 10px;
    background-color: rgb(245,245,245);
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}
.customerDetails i {
    font-size: 50px;
}
.customerDetails div {
    text-align: center;
}
.customerDetail{
    padding: 30px;
}
.main-row{
    margin: 20px;
}
.customerDetails .fa-mobile{
    font-size: 70px;
}
.customerDetails .align-left{
    text-align: left;
    margin: auto;
    margin-top: 15px;
    font-size: 22px;
    color: cornflowerblue;
}
p {
    white-space: nowrap;
}


/* 
Desktop Notebook
*/
@media screen and (max-width: 1367px) and (max-height: 962px) {
    .customerDetail{
        padding: 21px;
    }
    .customerDetail .fa-mobile{
        font-size: 57px;
    }
    .customerDetail i {
        font-size: 40px;
    }
    .customerDetails .align-left{
        font-size: 28px;
    }
}
/* 
Tablet
*/
@media screen and (min-width: 600px) and (max-height: 1280px) and (min-height: 870px) and (max-width: 1024px){
    .col-md-2, .col-md-4, .col-md-5{
        padding: 0px;
    }
    .customerDetail{
        padding: 30px 0px;
    }
    .customerDetail .fa-mobile, i{
        text-align: left;
    }
}
/*
Mobile 
*/
@media screen and (max-width: 599px){
    .customerDetail{
        padding: 20px;
    }
    .customerDetail .fa-mobile{
        font-size: 50px;
    }
    .customerDetail i {
        font-size: 40px;
    }
    .customerDetails .align-left{
        font-size: 14px;
    }
}
/* 
Mobile e Tablet
*/
@media screen and (max-width:992px){
    .customerDetail .align-left{
        text-align: center;
    }
}