@import "~font-awesome/css/font-awesome.css";
.row, .col-md-12, .m-1, .btn-link {
    padding: 0px !important;
    margin: 0px !important;
}
.backGroundName{
    height: 40vh;
    background: cornflowerblue;
    text-align: center;
    padding: 0px;
}
.customerName{
    padding-top: 18vh;
    margin:auto;
    color:white;
    font-size: 50px;
}
.contactBack {
    padding: 20px 0px 0px 20px;
}
.center{
    margin: auto;
}
.previousCustomer i, .nextCustomer i, .contactBack{
    font-size: 50px;
    color: white;
}
.previousCustomer {
    margin-left: -80px;
}
.nextCustomer {
    margin-right: -80px;
}

.buttonContainerLeft, .buttonContainerRight{
    padding:0px
}

/* * {
    background: #000 !important;
    color: #0f0 !important;
    outline: solid #f00 1px !important;
} */
@media screen and (max-width: 359px){
    .previousCustomer i, .nextCustomer i, .customerName{
        font-size: 30px;
    }
    .contactBack{
        font-size: 24px;
    }
}
@media screen and (min-width: 360px){
    .previousCustomer i, .nextCustomer i, .customerName{
        font-size: 38px;
    }
    .contactBack{
        font-size: 30px;
    }
    .previousCustomer {
        margin-left: -15px;
    }
    .nextCustomer {
        margin-right: -15px;
    }
    .buttonContainerLeft, .buttonContainerRight{
        width: 10%;
    }
    .spaceButtons{
        width: 79%;
    }
}
/* 
Mobile 375
*/
@media screen and (min-width: 375px){
    .previousCustomer i, .nextCustomer i, .customerName{
        font-size: 39px;
    }
    .contactBack{
        font-size: 32px;
    }
    .previousCustomer {
        margin-left: -16px;
    }
    .nextCustomer {
        margin-right: -16px;
    }
    .buttonContainerLeft, .buttonContainerRight{
        width: 10%;
    }
    .spaceButtons{
        width: 79%;
    }
}
/* 
Mobile 412
*/
@media screen and (min-width: 412px) {
    .previousCustomer i, .nextCustomer i, .customerName{
        font-size: 40px;
    }
    .contactBack{
        font-size: 32px;
    }
    .previousCustomer {
        margin-left: -17.5px;
    }
    .nextCustomer {
        margin-right: -17.5px;
    }
    .buttonContainerLeft, .buttonContainerRight{
        width: 10%;
    }
    .spaceButtons{
        width: 79%;
    }
}
/* 
Desktop/tablet 1024
*/
@media screen and (min-width: 1024px){
    .previousCustomer i, .nextCustomer i, .customerName{
        font-size: 45px;
    }
    .contactBack{
        font-size: 36px;
    }
    .previousCustomer {
        margin-left: -43px;
    }
    .nextCustomer {
        margin-right: -43px;
    }
} 
/* 
Desktop/tablet 1280
*/
@media screen and (min-width: 1280px){
    .previousCustomer i, .nextCustomer i, .customerName{
        font-size: 47px;
    }
    .contactBack{
        font-size: 38px;
    }
    .previousCustomer {
        margin-left: -53px;
    }
    .nextCustomer {
        margin-right: -53px;
    }
}
/* 
Desktop 1366
*/
@media screen and (min-width: 1366px){
    .previousCustomer {
        margin-left: -57px;
    }
    .nextCustomer {
        margin-right: -57px;
    }
}
/* 
Desktop 1440
*/
@media screen and (min-width: 1440px){
    .previousCustomer {
        margin-left: -60px;
    }
    .nextCustomer {
        margin-right: -60px;
    }
}
/* 
Desktop 1536
*/
@media screen and (min-width: 1536px){
    .previousCustomer {
        margin-left: -60px;
    }
    .nextCustomer {
        margin-right: -60px;
    }
}
@media screen and (min-height: 962px){
    .previousCustomer i, .nextCustomer i, .customerName{
        font-size: 50px;
    }
    .contactBack{
        font-size: 40px;
    }
}
/* 
Tablet
*/
@media screen and (min-width: 600px) and (max-height: 1280px) and (min-height: 870px) and (max-width: 1024px){
    .previousCustomer{
        margin-left: 0px;
    }
    .nextCustomer{
        margin-right: 0px;
    }
    .previousCustomer i, .nextCustomer i, .customerName, .contactBack{
        font-size: 45px;
    }
    .contactBack {
        padding: 15px 0px 0px 15px;
    }
}
/* 
Mobile
*/
@media screen and (max-width: 599px){
    .backGroundName {
        height: 25vh;
    }
    .customerName {
        padding-top: 5vh;
    }
    .contactBack {
        padding: 10px 0px 0px 10px;
    }
}