<div class="col-md-12 backGroundName">
    <div class="row buttonContainer">
        <!-- <div class="col-md-1 buttonContainerLeft">
            <button class="btn previousCustomer">
                <a href="customer/{{previousId}}">
                    <i class="fa fa-angle-double-left"></i>
                </a>
            </button>
        </div>
        <div class="col-md-10 spaceButtons"></div>
        <div class="col-md-1 buttonContainerRight">
            <button class="btn nextCustomer">
                <a href="customer/{{nextId}}">
                    <i class="fa fa-angle-double-right"></i>
                </a>
            </button>
        </div> -->
        <div class="col-xs-2">
            <a [routerLink]="''">
                <button type="button" class="btn btn-link">
                    <i class="fa fa-arrow-left contactBack"></i>
                </button>
            </a>
        </div>
        <div class="col-xs-10"></div>
    </div>
    <div class="row">
        <div class="center">
            <h2 class="customerName">
                {{currentCustomer.name}}
            </h2>
        </div>
    </div>
</div>

<app-customer [customer]="currentCustomer"></app-customer>
<!-- <div class="col-md-12">
    <a [routerLink]="''">
        <button type="button" class="btn btn-link col m-1">
            Torna ai contatti
        </button>
    </a>
</div> -->

